@model Backend.Models.Web

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Web</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoTNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoTNavigation.CodigoT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPgNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPgNavigation.IdPg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPg">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
