@model IEnumerable<Backend.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPgNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sesion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CiNavigation.Ci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPgNavigation.IdPg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sesion.IdP)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
